@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'Gotham Pro';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.intro {
  padding: 30px 0 45px 0px;
  min-height: 1500px;
  position: relative;
  background: url("/img/effect.png") 2% 10% no-repeat, url("/img/effect2.png") 95% 50% no-repeat, url("/img/angle.png") top right no-repeat, url("/img/main-background.png") no-repeat center center/cover;
}

.intro__wrapper {
  text-align: center;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__title {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  max-width: 470px;
  text-align: center;
}

.intro__sale {
  margin-top: 35px;
  width: 306px;
  height: 80px;
  background: url("/img/sale.png") no-repeat center center/cover;
  padding: 10px 60px 0px 0px;
}

.intro__sale span {
  display: block;
  font-size: 36px;
  font-weight: 700;
  color: #3A1E37;
  position: relative;
}

.intro__sale span::after {
  content: "50%";
  color: #FFEA00;
  position: absolute;
  top: 16px;
  right: -47px;
  font-size: 30px;
}

.intro__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}

.intro__price_old {
  font-size: 24px;
  color: #EEEEEE;
  position: relative;
}

.intro__price_old::before {
  position: absolute;
  width: 105%;
  height: 50%;
  content: '';
  border-bottom: 3px solid #FF0000;
  pointer-events: none;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.intro__price_new {
  font-size: 36px;
  font-weight: 500;
  color: #FFEA00;
  margin-left: 25px;
}

.intro__shoes-left {
  position: absolute;
  left: 15%;
  top: 10%;
  width: 612px;
}

.intro__shoes-right {
  position: absolute;
  right: 18%;
  top: 11%;
  width: 522px;
}

.header {
  position: absolute;
}

.btn__order {
  margin-top: 23px;
  width: 175px;
  height: 175px;
  background: #FFEA00;
  border-radius: 100%;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  color: #000851;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.btn__order:hover {
  background: #eb410e;
  color: #fff;
}
