.header {
    &__wrapper {
        display: flex;
        align-items: center;
    }
    &__title {
        font-size: 36px;
        font-weight: 700;
        color: #fff;
        max-width: 470px;
        text-align: center;
        margin: 0 auto;
    }
}